.email-container {
  margin: 40px;
  text-align: center;

  span {
    font-size: 15px;
  }

  input {
    width: 300px;
    font-size: 15px;
  }

  .submit {
    margin-top: 20px;

    button {
      width: 330px;
      height: 40px;
      font-size: 20px;
      color: white;
      background: black;
    }
  }
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: black !important;
}

.MuiInputLabel-formControl.Mui-focused {
  color: black !important;
}
